<a href="https://colab.research.google.com/github/marcebalzarelli/Proyecto-Individual-HENRY-N-1-Machine-Learning/blob/main/Modelo%20/%20Modelo_Machine_Learning_Recomendaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
ruta_archivo = '/content/drive/MyDrive/df_2000.csv'
df= pd.read_csv(ruta_archivo)

In [ ]:
df

,id,budget,genres,popularity,release_date,revenue,title,vote_average,vote_count,release_year,return,DiaSemana,Mes,cast,crew,combined_features
0,41280,2800000.0,"['Romance', 'Comedy']",8.173864,1981-08-21,26279000.0,Private Lessons,6.3,23.0,1981,9.385357,Viernes,Agosto,"['Sylvia Kristel', 'Howard Hesseman', 'Eric Br...","['Alan Myerson', 'Dan Greenburg', 'Dan Greenbu...","['Romance', 'Comedy'] 6.3 ['Sylvia Kristel', '..."
1,68412,0.0,['Drama'],0.481907,2010-01-01,0.0,3 Backyards,4.8,4.0,2010,0.000000,Viernes,Enero,"['Edie Falco', 'Embeth Davidtz', 'Elias Koteas...","['Eric Mendelsohn', 'Eric Mendelsohn']","['Drama'] 4.8 ['Edie Falco', 'Embeth Davidtz',..."
2,345916,0.0,['Drama'],0.814903,2017-07-07,0.0,Do You Take This Man,0.0,0.0,2017,0.000000,Viernes,Julio,"['Anthony Rapp', 'Alona Tal', 'Alyson Hannigan...","['Joshua Tunick', 'Joshua Tunick']","['Drama'] 0.0 ['Anthony Rapp', 'Alona Tal', 'A..."
3,84203,3000000.0,['Comedy'],3.375751,2012-08-10,0.0,Goats,5.4,29.0,2012,0.000000,Viernes,Agosto,"['David Duchovny', 'Vera Farmiga', 'Graham Phi...","['Brent Morris', 'Christopher Neil', 'Mark Poi...","['Comedy'] 5.4 ['David Duchovny', 'Vera Farmig..."
4,220724,0.0,"['Fantasy', 'Action', 'Comedy']",0.580803,1997-01-01,0.0,Armageddon,0.0,0.0,1997,0.000000,Miércoles,Enero,"['Andy Lau', 'Michelle Reis', 'Anthony Wong', ...",['Gordon Chan'],"['Fantasy', 'Action', 'Comedy'] 0.0 ['Andy Lau..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,25551,0.0,"['Crime', 'Drama', 'Thriller']",2.030317,1952-05-09,0.0,The Sniper,6.7,10.0,1952,0.000000,Viernes,Mayo,"['Adolphe Menjou', 'Arthur Franz', 'Gerald Moh...","['Stanley Kramer', 'Harry Brown', 'Burnett Guf...","['Crime', 'Drama', 'Thriller'] 6.7 ['Adolphe M..."
1996,78475,0.0,['Comedy'],0.163485,1958-09-24,0.0,Life for Two,6.5,1.0,1958,0.000000,Miércoles,Septiembre,"['Louis de Funès', 'Fernandel', 'Jean Marais',...","['Sacha Guitry', 'Sacha Guitry', 'Clément Duho...","['Comedy'] 6.5 ['Louis de Funès', 'Fernandel',..."
1997,205588,0.0,['Thriller'],8.569996,2016-05-05,9930095.0,Our Kind of Traitor,6.0,162.0,2016,0.000000,Jueves,Mayo,"['Ewan McGregor', 'Stellan Skarsgård', 'Damian...","['Hossein Amini', 'Susanna White', 'John le Ca...","['Thriller'] 6.0 ['Ewan McGregor', 'Stellan Sk..."
1998,102878,0.0,['Drama'],0.924910,1997-04-25,0.0,A Brother's Kiss,8.0,1.0,1997,0.000000,Viernes,Abril,"['Nick Chinlund', 'Michael Raynor', 'Justin Pi...","['Seth Zvi Rosenfeld', 'Seth Zvi Rosenfeld']","['Drama'] 8.0 ['Nick Chinlund', 'Michael Rayno..."
1999,25272,0.0,"['Action', 'Thriller', 'Mystery', 'Foreign']",0.755399,2008-10-17,0.0,Under the Salt,5.8,5.0,2008,0.000000,Viernes,Octubre,['Humberto Zurita'],"['Mario Muñoz', 'Mario Muñoz', 'Angel Pulido',...","['Action', 'Thriller', 'Mystery', 'Foreign'] 5..."

In [ ]:
# Creo una matriz de características utilizando las variables relevantes
features = ['genres', 'vote_average', 'cast']
df['combined_features'] = df[features].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)

# Utilizo CountVectorizer para convertir el texto en una matriz de conteo
count_matrix = CountVectorizer().fit_transform(df['combined_features'])

# Calculo la similitud del coseno entre las películas
cosine_sim = cosine_similarity(count_matrix)

def recomendacion(titulo):
    # para no tener en cuenta las minusculas y mayusculas
    titulo = titulo.lower()

    # Obtengo el índice de la película con el título dado
    idx = df[df['title'].str.lower() == titulo].index[0]

    # Obtengo los puntajes de similitud para la película con el título dado
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Ordeno las películas según la similitud de puntajes en orden descendente
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Obtengo los índices de las películas similares (excluyendo la película con el título dado)
    sim_indices = [i[0] for i in sim_scores if i[0] != idx]

    # Obtengo los títulos de las 5 películas más similares
    top_movies = df['title'].iloc[sim_indices[:5]].values.tolist()

    return top_movies

In [ ]:
# Prueba
print(recomendacion('AVENGER'))

['Tank', 'Double Game', 'The Mafu Cage', 'Under the Salt', 'The Babe Ruth Story']

In [ ]:
nombres_columnas = df.columns

# Imprimo los nombres de las columnas
for columna in nombres_columnas:
    print(columna)

id
budget
genres
popularity
release_date
revenue
title
vote_average
vote_count
release_year
return
DiaSemana
Mes
cast
crew